# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
*.gem
Gemfile.lock

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Temporary folders
tmp/
temp/